<form method="post">
    Имя: <input name="user" value="{{ r.user }}"><br>
    Текущий тариф: <input name="cur" value="{{ r.cur }}"><br>
    Новый тариф: <input name="new" value="{{ r.new }}"><br>
    Подключение: <input name="cost" value="{{ r.cost }}"><br>
    Период: <input name="period" value="{{ r.period }}"><br>
    Окупаемость: <input name="payback" value="{{ r.payback }}"><br>
    Экономия: <input name="economy" value="{{ r.economy }}"><br>
    <button type="submit">Сохранить</button>
</form>